<!DOCTYPE html>

<html>
	<body>
		<div id="root">
		<md-app md-mode="reveal">
			<md-app-toolbar class="md-primary">
				<md-button class="md-icon-button" @click="menuVisible = true">
					<md-icon>menu</md-icon>
				</md-button>
				<span class="md-title"> Basic Interpreter </span>
			</md-app-toolbar>
			<md-app-content>
				<router-view></router-view>	
			</md-app-content>	
		</md-app>

		<md-drawer :md-active.sync="menuVisible">
			<md-toolbar class="md-transparent" md-elevation="0"> Navigation </md-toolbar>
			<md-list>
				<md-list-item to="/about" @click="menuVisible = !menuVisible">
					<md-icon>menu_book</md-icon>
					<span class="md-list-item-text">About</span>
				</md-list-item>
				
				<br/>
				<br/>

				<md-list-item to="/terminal" @click="menuVisible = !menuVisible">
					<md-icon>code</md-icon>
					<span class="md-list-item-text">Code</span>
				</md-list-item>

				<br/>
				<br/>
				
				<md-list-item to="/login" @click="menuVisible = !menuVisible">
					<md-icon>fingerprint</md-icon>
					<span class="md-list-item-text">Login</span>
				</md-list-item>
				
				<br/>
				<br/>

				<md-list-item to="/github" @click="menuVisible = !menuVisible">
					<img id="github-logo" src="../assets/github-logo.png" />
					<span class="md-list-item-text" style=padding-left:35px; >Github</span>
				</md-list-item>
			</md-list>
		</md-drawer>
		</div>
	</body>

<script>
const root = new Vue({
	el: 'root',
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/default.css'
import {MdApp, MdToolbar, MdButton, MdIcon, MdDrawer, MdList, MdContent} from 'vue-material/dist/components'
Vue.use(MdButton)
Vue.use(MdDrawer)
Vue.use(MdApp)
Vue.use(MdToolbar)
Vue.use(MdList)
Vue.use(MdIcon)
Vue.use(MdContent)

	components: MdApp, MdToolbar, MdButton, MdIcon, MdDrawer, MdList, MdContent,
	data: () => ({
		menuVisible: false
	})
}

</script>

</html>


