### Backend

# Cmake ignores

/backend/cmake_install.cmake
/backend/CMakeCache.txt
/backend/CMakeLists.txt
/backend/cmake_install.cmake
/backend/CMakeCache.txt

# bin ignores

**/backend/bin/CMakeFiles
/backend/bin/Makefile
/backend/bin/makefile
/backend/bin/cmake_install.cmake
/backend/bin/CMakeCache.txt

**/backend/bin/CMakeFiles
**/backend/CMakeFiles
*/backend/Makefile

#########################################

### Frontend

/frontend/frontend

