# Utils

# Logging

utils/log/log.o

# Operating System

operatingSystem/os
operatingSystem/os.dSYM

# Cmake ignores

cmake_install.cmake
CMakeCache.txt
CMakeLists.txt
cmake_install.cmake
CMakeCache.txt

# bin ignores

**/bin/CMakeFiles
/bin/Makefile
/bin/cmake_install.cmake
/bin/CMakeCache.txt

**/bin/CMakeFiles
**CMakeFiles
*Makefile
