<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/02e19dad27.js" crossorigin="anonymous">
</script>
<style>
.nav-wrapper{
	padding-top:-10px;
	padding-left:10px;
	padding-bottom:70px;
}

.container{
	min-height:800px;
}

.container > p{
	padding:10px;
}
</style>
</head> 
    <body>
	<nav>
		<div class="nav-wrapper blue darken-4">
		<a href="/" class="brand-logo blue darken-4"><i class="material-icons">computer</i>Basic Interpreter</a>
			<ul id="nav-mobile" class="right hide-on-small-and-down blue darken-4 ">
				<li><a href="/terminal"><i class="material-icons">code</i></a></li>
				<li><a href="/login"><i class="material-icons">fingerprint</i></a></li>
				<li><a href="/github"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
	</nav>

	<div id="body-container">
		<div class="container low-text z-depth-2 center-align">
			{{if .User.LoggedIn}}
				<h1>Welcome Back {{.User.Username}}</h1>
			{{else}}
				<h1>Welcome To Basic!</h1>
			{{end}}

			<p> "BASIC (Beginner's All-purpose Symbolic Instruction Code)[1] is a family of general-purpose, high-level programming languages whose design philosophy emphasizes ease of use. In 1964, John G. Kemeny and Thomas E. Kurtz designed the original BASIC language at Dartmouth College. They wanted to enable students in fields other than science and mathematics to use computers. At the time, nearly all use of computers required writing custom software, which was something only scientists and mathematicians tended to learn."

Simply put, BASIC is well... a basic programming language! 
			</p>
			<p>
				<h4>How To Program Basic </h4>
				<h6>
					Here are some of the commands associated with the earliest BASIC languages developed at Dartmouth:
				</h6>
					<table>
						<thead>
						  <tr>
						      <th>Command</th>
						      <th>Description</th>
						  </tr>
						</thead>

						<tbody>
						  <tr>
						    <td>HELLO</td>
						    <td>Log In</td>
						  </tr>
						  <tr>
						    <td>BYE</td>
						    <td>Log off</td>
						  </tr>
						  <tr>
						    <td>BASIC</td>
						    <td>Start the masic mode</td>
						  </tr>
						  <tr>
						    <td>NEW</td>
						    <td>Name and begin to write a program</td>
						  </tr>
						  <tr>
						    <td>OLD</td>
						    <td>Retrieve a previously named program from permanent storage</td>
						  </tr>
						  <tr>
						    <td>LIST</td>
						    <td>Display the current Program</td>
						  </tr>
						  <tr>
						    <td>SAVE</td>
						    <td>Save the current program in permanent storage</td>
						  </tr>
						  <tr>
						    <td>CATALOG</td>
						    <td>Display the names of the programs in permanent storage</td>
						  </tr>
						  <tr>
						    <td>SCRATCH</td>
						    <td>Erase the current program without clearing its name</td>
						  </tr>
						  <tr>
						    <td>RENAME</td>
						    <td>Rename the program</td>
						  </tr>
						  <tr>
						    <td>RUN</td>
						    <td>Run the program</td>
						  </tr>
						  <tr>
						    <td>STOP</td>
						    <td>Stop the program</td>
						  </tr>
						</tbody>
					</table>
			</p>
		</div>
	</div>
    </body>
  </html>
               
