<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/02e19dad27.js" crossorigin="anonymous"></script>

<style>

.nav-wrapper{
	padding-top:-10px;
	padding-left:10px;
	padding-bottom:70px;
}

.container{
	min-height:800px;
}

.container > p{
	padding:10px;
}

</style>
</head> 
    <body>
	<nav>
		<div class="nav-wrapper blue darken-4">
		<a href="/about" class="brand-logo blue darken-4"><i class="material-icons">computer</i>Basic Interpreter</a>
			<ul id="nav-mobile" class="right hide-on-small-and-down blue darken-4 ">
				<li><a href="/terminal"><i class="material-icons">code</i></a></li>
				<li><a href="/login"><i class="material-icons">fingerprint</i></a></li>
				<li><a href="/github"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
	</nav>

	<div id="body-container">
		<br /> 
		<div class="container low-text z-depth-2 center-align flow-text">
			<br /> 
			<h4> Create your own basic interpreter instance! </h4>
			<br /> 
			    <form action="/createAccount" class="col s12">
			      <div class="row">
				<div class="input-field col s6">
				  <input id="first_name" type="text" class="validate">
				  <label for="first_name">First Name</label>
				</div>
			
				<div class="input-field col s6">
				  <input id="last_name" type="text" class="validate">
				  <label for="last_name">Last Name</label>
				</div>
			      </div>
			     
			      <div class="row">
				<div class="input-field col s6">
				  <input id="create-password" type="password" class="validate">
				  <label for="password">Password</label>
				</div>
		
				<div class="input-field col s6">
				  <input id="confirm-password" type="password" class="validate">
				  <label for="confirm-password">Confirm Password</label>
				</div>
			      </div>
			      
			      <div class="row">
				<div class="input-field col s12">
				  <input id="email" type="email" class="validate">
				  <label for="email">Email</label>
				</div>
			      </div>
			    </form>

		        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="createAccount">Sign Up
			    <i class="material-icons right"></i>
			</button>

			<br /> 
			<br /> 
			<h6> Or if you have used this before, Login in </h6>
			<h4> Log into your basic interpreter instance! </h4>
			    <form action="/loginAttempted" class="col s12">
			      <div class="row">
				<div class="input-field col s6">
				  <input name="login-email" id="login-email" type="text" class="validate"></input>
				  <label for="login-email">Email</label>
				</div>
				
				<div class="input-field col s6">
				  <input name="login-password" id="login-password" type="password" class="validate"></input>
				  <label for="login-password">Password</label>
				</div>
			      </div>
			    </form>
			
		        <button class="btn waves-effect waves-light blue darken-4" name="createAccount" onclick="login()">Login
			    <i class="material-icons right"></i>
			</button>

		  </div>
	</div>
    </body>
	<script>

	function login(){
		email = document.getElementById('login-email').value;
		password = document.getElementById('login-password').value;
		console.log(email);
		console.log(password);

		var requestBody = JSON.stringify({
		    Email: email,
		    Password: password,
		});
		
		fetch({{.Config.LoginURL}}, {
			method:"POST",
			credentials:"include",
			body: requestBody,		
		}).then(res => {
			return res.json();
		}).then(data => {
			console.log(data);
			window.location.replace("/terminal");
		}).catch(err => {
			console.log(err)
		});
	}

	function signup(){
		firstName = document.getElementById("first_name").value;
		lastName = document.getElementById("last_name").value;
		createPassword = document.getElementById("create-password").value;
		confirmPassword = document.getElementById("confirm-password").value;
		email = document.getElementById("email").value;

		console.log(firstName)
		console.log(lastName)
		console.log(createPassword)
		console.log(confirmPassword)
		console.log(email)

		if (confirmPassword == ""){
			errorMessage("confirm password not filled in")	
			return
		} else if (createPassword == "") {
			errorMessage("first name not filled in")	
			return
		} else if (firstName == "") {
			errorMessage("first name not filled in")	
			return
		} else if (lastName == "") {
			errorMessage("Last name not filled in")	
			return
		} else if (email == "") {
			errorMessage("Email not filled in")	
			return
		} else if (createPassword != confirmPassword) {
			errorMessage("Passwords must match")	
			return
		}

		var requestBody = JSON.stringify({
			FirstName: firstName,
			LastName: lastName,
			CreatePassword: createPassword,
			ConfirmPassword: confirmPassword,
			Email: email
		});

		fetch({{.Config.CreateAccountURL}}, {
			method:"POST",
			credentials:"include",
			body: requestBody,		
		}).then(res => {
			return res.json();
		}).then(data => {
			console.log(data)
			window.location.replace("/terminal");
		}).catch(err => {
			console.log(err)
		});
	}

	function errorMessage(err){
		console.log(err)
	}

	</script>

	}
	</script>


  </html>
 
