<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/02e19dad27.js" crossorigin="anonymous"></script>
<script src="scripts/login.js"></script>

<style>

.nav-wrapper{
	padding-top:-10px;
	padding-left:10px;
	padding-bottom:70px;
}

.container{
	min-height:800px;
}

.container > p{
	padding:10px;
}

</style>
</head> 
    <body>
	<nav>
		<div class="nav-wrapper blue darken-4">
		<a href="/" class="brand-logo blue darken-4"><i class="material-icons">computer</i>Basic Interpreter</a>
			<ul id="nav-mobile" class="right hide-on-small-and-down blue darken-4 ">
				<li><a href="/terminal"><i class="material-icons">code</i></a></li>
				<li><a href="/login"><i class="material-icons">fingerprint</i></a></li>
				<li><a href="/github"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
	</nav>

	<div id="body-container">
		<br /> 
		<div class="container low-text z-depth-2 center-align flow-text">
			<br /> 
			<h4> Create your own basic interpreter instance! </h4>
			<br /> 
			    <form action="/createAccount" class="col s12">
			      <div class="row">
				<div class="input-field col s6">
				  <input id="first_name" type="text" class="validate">
				  <label for="first_name">First Name</label>
				</div>
			
				<div class="input-field col s6">
				  <input id="last_name" type="text" class="validate">
				  <label for="last_name">Last Name</label>
				</div>
			      </div>
			     
			      <div class="row">
				<div class="input-field col s6">
				  <input id="password" type="password" class="validate">
				  <label for="password">Password</label>
				</div>
		
				<div class="input-field col s6">
				  <input id="confirm_password" type="password" class="validate">
				  <label for="confirm_password">Confirm Password</label>
				</div>
			      </div>
			      
			      <div class="row">
				<div class="input-field col s12">
				  <input id="email" type="email" class="validate">
				  <label for="email">Email</label>
				</div>
			      </div>
			    </form>

		        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="createAccount">Sign Up
			    <i class="material-icons right"></i>
			</button>

			<br /> 
			<br /> 
			<h6> Or if you have used this before, Login in </h6>
			<h4> Log into your basic interpreter instance! </h4>
			    <form action="/SignIn" class="col s12">
			      <div class="row">
				<div class="input-field col s6">
				  <input id="login-email" type="text" class="validate">
				  <label for="login-email">Email</label>
				</div>
			
				<div class="input-field col s6">
				  <input id="login-password" type="password" class="validate">
				  <label for="login-password">Password</label>
				</div>
			      </div>
			    </form>
			
		        <button class="btn waves-effect waves-light blue darken-4" name="createAccount" onclick="login()">Login
			    <i class="material-icons right"></i>
			</button>

		  </div>
	</div>
    </body>


  </html>
 
