<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://kit.fontawesome.com/02e19dad27.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css"></script>
<script type="text/javascript" src="scripts/terminal.js"></script>

<style>
.nav-wrapper{
	padding-top:-10px;
	padding-left:10px;
	padding-bottom:70px;
}

.container{
	min-height:800px;
}

.container > p{
	padding:10px;
}

#terminal {
	margin-left:100px;
	margin-right:100px;
	margin-top:100px;
	color: brown;
}

</style>
</head> 
    <body>
	<nav>
		<div class="nav-wrapper blue darken-4">
		<a href="/about" class="brand-logo blue darken-4"><i class="material-icons">computer</i>Basic Interpreter</a>
			<ul id="nav-mobile" class="right hide-on-small-and-down blue darken-4 ">
				<li><a href="/terminal"><i class="material-icons">code</i></a></li>
				<li><a href="/login"><i class="material-icons">fingerprint</i></a></li>
				<li><a href="/github"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
	</nav>
	<div>
		<div id="terminal"></div>
	</div>
    </body>
	<script>
	var term = new Terminal({
		theme: {
			background: '#004671'
		}
	});
	
	terminalProcessEndpoint = {{.Config.RunTerminalEndpoint}};
	textEditorEndpoint = {{.Config.RunTextEditorEndpoint}};
	
	term.open(document.getElementById('terminal'));
	componentDidLoad({{.}});
	runBasicTerminal();

	</script>
</html>
