/*--------------- Top bar style ---------------------*/

.top-bar{
	background-color:#01E7AF;
	margin-left:auto;
	margin-right:auto;
	width:900px;
}


/*--------------- Top bar style ---------------------*/
